/* Basic jQuery Slider essential styles */
*{font-family:sansation;}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{position:absolute;left:820px;z-index:100;width:21px;height:19px;overflow:hidden;text-indent:-9999em;margin-top:-47px;background:url(../img/next.png) no-repeat left top;}
ul.bjqs-controls.v-centered li.bjqs-prev a{position:absolute;left:820px;z-index:100;width:21px;height:19px;overflow:hidden;text-indent:-9999em;margin-top:-5px;background:url(../img/prev.png) no-repeat left top;}}
ul.bjqs-controls.v-centered li.bjqs-next  a:hover{position:absolute;left:820px;z-index:100;width:21px;height:19px;overflow:hidden;text-indent:-9999em;margin-top:-47px;}
ul.bjqs-controls.v-centered li.bjqs-prev  a:hover{position:absolute;left:820px;z-index:100;width:21px;height:19px;overflow:hidden;text-indent:-9999em;margin-top:-5px;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: right;position:absolute;bottom:0px;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;position:absolute;bottom:215px;height:77px;left:0px;width:96%;margin:0;padding:2%;margin-top:10px;text-indent:50px;line-height:80%;position:absolute;color:#fff;font-size:50px;font-weight:bold;} 


