*{font-family:sansation;}
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.0;
	z-index: 999;
} 

.login-popup{
	display:none;
	background: #fff;
	padding: 10px; 	
	float: left;
	font-size: 12px;
	position: fixed;
	top: 30%; left: 60%;
	z-index: 99999;
	border-radius:25px 0px 35px 0px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px; 
}


img.btn_close {
	float: right; 
	margin: -20px -20px 0 0;
}

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.signin .textbox span { 
	display:block;
}

form.signin p, form.signin span { 
	color:#999; 
	line-height:18px;
} 

form.signin .textbox input { 
	background:#f0f0f0; 
	color:#6767676; 
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	box-shadow:1px 0px 3px gray inset;
	-moz-box-shadow:1px 0px 3px gray inset;
	-webkit-box-shadow:1px 0px 3px gray inset;
	padding:6px 6px 4px;
	width:200px;
	border:1px solid #fff;
}

form.signin input:-moz-placeholder { color:#676767; }
form.signin input::-webkit-input-placeholder { color:#676767;}

.button { 
	display:inline-block;
	margin-top:5px;
	border:0px;
	float:left;
}
